#header{
    background: url("../img/banner.jpg") no-repeat center;
    height:600px;
}
#login,#header h1,#cart{
    color: white;
    display: block;
    float: left;
}
#cart{
    width: 200px;
    height: 30px;
    background-color: black;
    opacity: 0.5;/*透明，取值是透明0-1不透明*/
    filter:alpha(opacity=50); /*为了在IE6下使用，透明，取值是0-100*/
    text-align:center;
    padding:10px 20px;
    cursor: pointer;
}
/*
#header img{
    vertical-align: middle;
}*/
